<mat-toolbar color="primary" class="toolbar">
  <mat-icon class="toolbar-icon">music_note</mat-icon>
  <span class="toolbar-title">Spotify Backup</span>
  <span class="toolbar-spacer"></span>
  <button mat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button routerLink="/playlists" routerLinkActive="active-link">
    <mat-icon>playlist_play</mat-icon>
    <span>Playlists</span>
  </button>
  <button mat-button routerLink="/config" routerLinkActive="active-link">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</mat-toolbar>
